<nav class="nav">
    <!-- <h1>YoYou</h1> -->
    <h1>
        <img src="./assets/logo2.jpg" >
    </h1>
    
    <!-- <div class="nav-search">
        <input type="text" placeholder="Pesquisar Produtos"/>
        <button>Pesquisar</button>
    </div> -->
    <ul>
    <li><a routerLink href="/">Home</a></li>
    <li><a routerLink href="/seller-auth">Login</a></li>
    <li><a routerLink href="/sales-car">Carrinho</a></li>
    <li><a routerLink href="/busca">Pesquisar</a></li>
    </ul>
</nav>


 


