<div class="criar-conta">
<h1>Vamos criar uma conta?</h1>
<form>
    <input class="form-input" type="text" ngModel name="name"placeholder="Digite seu nome"/>
    <br>
    <input class="form-input" type="text" ngModel name="email" placeholder="Digite seu email"/>
    <br>
    <input class="form-input" type="password" ngModel name="password" placeholder="Digite sua senha"/>
    
    <input class="form-input" type="password" ngModel name="password" placeholder="Confirme sua senha"/>
    <br>
    <input class="form-input" type="text" ngModel name="cpf" placeholder="Digite seu cpf"/>
    <br>
    <input class="form-input" type="text" ngModel name="telefone" placeholder="Digite seu número de telefone"/>
   
    <br>
    <!-- <button (click)="gravar()">Gravar</button> -->
    <button class="form-button" (click)="gravar()">Gravar</button>
</form>
</div>