<!-- <h1>Menu</h1>
<div class="home-container"> 
    <h4>{{mensagem}}</h4>

<h3 class="produtos" *ngIf="lista.length<=0">
não existem produtos na vitrine</h3>

<div *ngFor="let item of lista">
<h4>{{item.nome}}</h4>
<img src="./assets/{{item.codigo}}.jpg"
width="150px"><br>
{{item.descritivo}}
<br><br>
R$ {{item.valor}}
<button (click)="verDetalhe(item)">Ver Mais</button>
<button *ngIf="item.quantidade>0">Comprar</button>
      
</div> -->
<h1 class="text-center my-4">Menu</h1>
<div class="container home-container"> 
    <!-- <h4 class="text-center">{{mensagem}}</h4> -->

    <h3 class="text-center produtos" *ngIf="lista.length<=0">
        Não existem produtos na vitrine
    </h3>

    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let item of lista">
            <div class="card h-100 text-center">
                <img 
                    src="./assets/{{item.codigo}}.jpg" 
                    class="card-img-top mx-auto" 
                    style="width: 150px;" 
                    alt="{{item.nome}}">

                <div class="card-body">
                    <h4 class="card-title">{{item.nome}}</h4>
                    <p class="card-text">{{item.descritivo}}</p>
                    <p class="card-text"><strong>R$ {{item.valor}}</strong></p>
                </div>

                <div class="card-footer">
                    <button class="btn btn-primary" (click)="verDetalhe(item)">Ver Mais</button>
                    <button *ngIf="item.quantidade>0" class="btn btn-success" (click)="adicionarItem(item)">Comprar</button>
                </div>
            </div>
        </div>
    </div>
</div>
